@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


/* customStyles.css */
/* Style for the drawer container */
.map-container {
  width: 100%;
  height: 98vh;
}

/* customStyles.css */
.custom-container {
  border: 2px solid rgb(5, 5, 5);
  border-radius: 6px;
}

.custom-input {
  font-size: 16px;
  border: 1px solid #aaa;
}

.custom-dropdown {
  border: 1px solid green;
  background-color: #f9fafb;
  width: '99.5%';
  height: 600px;
  max-height: 400px;
}
.custom-noresult {
  width: 378px;
}

.custom-dropdown-item {
  padding: 12px;
  font-weight: bold;
}

.custom-no-result {
  color: red;
  font-style: italic;
}
.fullContainer {
  position: relative;
}

._border_radius_5 {
  border-radius: 5px;
}

/* antd float button style start*/
.ant-float-btn {
  width: 70px !important;
}
.searchBars {
  padding: 10px;
}
.ant-float-btn-body {
  padding: 10px 0px !important;
  width: 100% !important;
  height: 100% !important;
}

.ant-float-btn-default .ant-float-btn-body {
  background-color: #32a66b;
}

.ant-float-btn-default .ant-float-btn-body:hover {
  background-color: #32a66b;
}

.ant-float-btn-group-square
  .ant-float-btn-group-wrap
  .ant-float-btn-square
  .ant-float-btn-body {
  background-color: transparent;
}

.ant-float-btn .ant-float-btn-body .ant-float-btn-content {
  padding: 0px !important;
}

.ant-float-btn .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
  width: 100%;
}

.ant-float-btn-group-square .ant-float-btn-square {
  border-start-end-radius: 8px;
  border-start-start-radius: 8px;
}

.ant-float-btn-square {
  height: 54px !important;
}

.ant-float-btn-group-square
  .ant-float-btn-group-wrap
  .ant-float-btn-square
  .ant-float-btn-body {
  width: 100%;
  height: 100%;
}

.ant-popover .ant-popover-title {
  min-width: 80px;
}

.activeButton {
  background-color: #eaffc9;
  border-radius: 8px;
  padding: 2px;
  border: 2px solid #73a942;
}
